---
import '../styles/fonts.css';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Novara estudio - Coming Soon</title>
		<meta name="description" content="Estamos ocupados creando sitios increíbles para nuestros clientes. Aún no hemos tenido tiempo de terminar el nuestro." />
		<meta name="robots" content="noindex, nofollow" />
		<meta property="og:title" content="Novara estudio - Coming Soon" />
		<meta property="og:description" content="Estamos ocupados creando sitios increíbles para nuestros clientes." />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Novara estudio - Coming Soon" />
		<meta name="twitter:description" content="Estamos ocupados creando sitios increíbles para nuestros clientes." />
	</head>
	<body>
		<slot />
	</body>
</html>
